@font-face {
	font-family: "Material Icons";
	font-style: normal;
	font-weight: 400;
	src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
		url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: "liga";
}

/* 폰트 설정 */
@font-face {
	font-family: "SBAggroL";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SBAggroM";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SBAggroB";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "InkLipquid";
	src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

/* 기본 설정 */
html,
body {
	padding: 0;
	margin: 0;
}

#app {
	background-color: #1a1a1a;
	color: white;
	font-family: "SBAggroL";
	min-height: 100%;
}

h1 {
	font-size: 24px;
	font-weight: 700;
}

h2 {
	font-size: 20px;
	font-weight: 700;
}

h3 {
	font-size: 16px;
	font-weight: 700;
}

li {
	list-style: none;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: white;
}

/* 헤더 */
#header {
	width: calc(100%);
	height: 80px;
	padding: 0 48px;
	position: fixed;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	background-color: #1a1a1a;
	border-bottom: 1px solid white;
}

h1.logo {
	font-family: "SBAggroB";
	color: #3ed4b3;
}

ul#nav-bar {
	display: flex;
	gap: 16px;
}

/* body */
div#container {
	padding: 0 0 60px 0;
}

body {
	background-color: #1a1a1a;
}

div#container {
	width: 100%;
	height: 100%;
	padding: 100px 0 0 0;
}

div #container h1 {
	margin: 5px 30px 0px 30px;
}

/* 근육 */
#muscle-search-container {
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: center;
}

.panel {
	padding: 20px;
	border-radius: 10px;
	background-color: rgba(242, 242, 242, 0.3); /* 반투명 배경색 적용 */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	height: calc(77vh - 40px); /* 화면 높이의 77%에서 상하 패딩의 크기를 뺀 값 */
	overflow-y: auto; /* 내용이 넘칠 경우 수직 스크롤 생성 */
	margin-top: 20px; /* 위쪽으로 약간의 여백 추가 */
}

.panel.muscle-list {
	margin-left: 20px;
	width: 27%;
	text-align: center; /* 자식 요소의 텍스트 정렬 설정 */
}

.panel.card-list {
	width: 43%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}

.panel.routine-list {
	width: 20%;
	margin-right: 20px;
}

h2#muscle-name {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin-top: 20px;
	padding: 10px;
	color: #3ed4b3;
	background-color: rgba(255, 255, 255, 0.1);
	border: 2px solid #3ed4b3;
	border-radius: 15px;
	display: inline-block;
	width: 50%;
	margin: 30px 20px 60px 20px;
}

/* 카드 flex 스타일 */
.card {
	width: 240px;
	margin-bottom: 60px;
	border-radius: 16px !important;
	overflow: hidden;
	box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.01);
	animation: fadeIn 0.5s ease-in-out forwards;
	animation-fill-mode: both;
	cursor: pointer; /* 드래그 가능 표시 */
}

.card-footer {
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

.card:hover {
	transform: translateY(-10px) !important; /* 마우스 호버 시 카드가 살짝 위로 움직임 */
}

.card h3 {
	margin-top: 12px;
	margin-bottom: 0;
}

.card-img {
	width: 240px;
	height: 120px;
}

.card-img img {
	width: 240px;
	height: 120px;
	object-fit: cover;
}

.card-footer {
	width: 240px;
	height: 110px;
	padding: 8px 10px;
	box-sizing: border-box;
	background-color: white;
	color: #1a1a1a;
}

.card-marks {
	margin-top: 10px;
	display: flex;
}

.card-mark {
	width: 60px;
	height: 30px;
	text-align: center;
	border-right: 1px solid #eaeaea;
}

.card-mark:last-child {
	border-right: none;
}

p.key {
	margin-bottom: 8px;
	display: block;
	font-size: 10px;
}

p.value {
	display: block;
	font-size: 12px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.routine-list h2 {
	margin: 10px auto;
}

.exercise-div {
	display: flex;
	gap: 20px;
	flex-direction: row;
	align-items: center;
	margin-bottom: 20px;
	border: 1px solid #eaeaea;
	border-radius: 8px;
	padding: 10px;
	background-color: #2a2a2a;
	position: relative;
}

.sets-reps-div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 10px;
}

.sets-reps-div span {
	margin-right: 5px;
}

.sets-reps-div input[type="number"] {
	width: 60px;
	margin: 5px 0;
}

.delete-button {
	position: absolute;
	right: 10px;
	bottom: 10px;
	background-color: #ff4d4d;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 5px 10px;
	cursor: pointer;
}

.delete-button:hover {
	background-color: #ff1a1a;
}

.cloned {
	margin: 12px auto !important;
}

.fade-out {
	opacity: 0;
	transition: opacity 0.3s ease; /* 투명도 변화에 대한 애니메이션 효과 추가 */
}

/* 세부 검색창 */
div#detailed-search {
	padding: 10px;
}

.exercise-search {
	position: relative;
	width: 300px;
	margin: 0 auto;
	height: 100%;
}

.exercise-search input {
	width: 100%;
	border: 1px solid #bbb;
	border-radius: 8px;
	padding: 10px 0px 10px 10px;
	font-size: 15px;
	margin-top: 14px;
}

.exercise-search img {
	position: absolute;
	width: 17px;
	top: 10px;
	right: 12px;
	margin-top: 14px;
}
