div#exercise-list-container {
	padding-top: 80px;
	/* padding-bottom: 60px; */
}

/* 운동 정보 화면 시작 */

/* 운동 정보 컨테이너 */
div#exercise-info-container {
	height: 100%;
	padding-top: 80px;
	padding-bottom: 60px;
}

/* 뒤로 가기 버튼 */
span.back-btn {
	font-size: 32px;
}

/* 운동 상세 정보 페이지 헤더 */
div#exercise-info-header {
	padding: 40px 48px 24px 48px;
	margin-bottom: 0px;
	display: flex;
	align-items: center;
	gap: 12px;
}

/* 카테고리 분류 */
div#exercise-category-classfication {
	padding: 0 48px;
	margin-bottom: 60px;

	display: flex;
	gap: 12px;
}

/* 카테고리 표시 */
div.category-indicator {
	padding: 12px;
	border: 1px solid white;
	border-radius: 30px;
}

div.category-indicator:before {
	content: "# ";
}

/* 영상 재생되는 div */
div#exercise-video {
	width: calc(100% - 96px);
	margin: 0 48px 60px 48px;

	display: flex;
	justify-content: center;

	background: black;
}

/* YouTube 프레임 */
iframe#exercise-video-frame {
	width: calc(100% - 480px);
	height: 480px;
	display: block;
	margin: auto;
}

img#exercise-video-frame {
	width: 800px;
	height: 480px;
	display: block;
	margin: auto;
}

/* 운동 프로필 */
div#exercise-profile {
	padding: 0 48px;
	margin-bottom: 60px;
}

div#exercise-profile > h2 {
	margin-bottom: 24px;
}

table#exercise-profile-table {
	width: 100%;
	border: 2px solid white;
}

table#exercise-profile-table td {
	padding: 16px 12px;
	border-right: 1px solid white;
}

table#exercise-profile-table td:nth-child(odd) {
	width: 25%;
}

/* 운동 소개 */
div#exercise-introduction {
	padding: 0 48px;
	margin-bottom: 60px;
}

div#exercise-introduction > h2 {
	margin-bottom: 24px;
}

div#exercise-introduction > p {
	line-height: 1.5;
}

/* 운동 순서, 운동 팁 */
div#exercise-procedure,
div#exercise-tips {
	padding: 0 48px;
	margin-bottom: 60px;
}

div#exercise-procedure > h2,
div#exercise-tips > h2 {
	margin-bottom: 24px;
}

div#exercise-procedure > p,
div#exercise-tips > p {
	margin-bottom: 12px;
	line-height: 1.5;
}

div#exercise-procedure > p:last-child,
div#exercise-tips > p:last-child {
	margin-bottom: 0;
}
