/* 어그로체 - Light */
@font-face {
    font-family: 'SBAggroL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 어그로체 - Medium */
@font-face {
    font-family: 'SBAggroM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 어그로체 - Bold */
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 기본 설정 */
body {
    padding: 0;
    margin: 0;
}
#app {
    background-color: #1A1A1A;
    color: white;
    font-family: "SBAggroL";    
    min-height: 100%;
}

h1 {
    font-size: 24px;
    font-weight: 700; 
}

h2 {
    font-size: 20px;
    font-weight: 700;
}

h3 {
    font-size: 16px;
    font-weight: 700;
}

li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: white;
}

/* 헤더 */
#header {
    height: 80px;
    padding: 0 48px;
    

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    box-sizing: border-box; 
    border-bottom: 1px solid white;
}

h1#logo {
    font-family: "SBAggroB";
    color: #3ED4B3;
}

ul#nav-bar {
    display: flex;
    gap: 16px;
}
div#content {
    padding: 0 0 60px 0;
}

/* 세부 검색창 */
div#detailed-search {
    height: 300px;
    background-color: black;
    margin-bottom: 60px;
}
/* 검색 결과 */
div#search-result {
    width: calc(100% - 168px * 2);
    margin: 0 auto;     
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* 카드 */
div.card {
    width: 240px;
    height: 200px;

    margin-bottom: 60px; 
    border-radius: 16px;
    overflow: hidden;

    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.01);
}

div.card-img {
    width: 240px;
    height: 120px; 
}

img.thumbnail {
    width: 240px;
    height: 120px;
    object-fit: cover;
}

div.card-footer {
    width: 240px;
    height: 80px;
    padding: 8px 10px;
    box-sizing: border-box;

    background-color: white;
    color: #1a1a1a;
}

div.card-marks {
    margin-top: 10px;
    display: flex;
}

div.card-mark {
    width: 60px;
    height: 30px;
    text-align: center;

    border-right: 1px solid #EAEAEA;
}

div.card-mark:last-child {
    border-right: none;
}
p.key {
    margin-bottom: 8px;
    display: block;
    font-size: 8px;
}

p.value {
    display: block;
    font-size: 12px; 
}